<!DOCTYPE html>
<html>
<head>
  <title>LoveLexicon</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
   <script>
     window.CURRENT_USER_ID = <%= current_user.id %>
     window.CURRENT_USER_USERNAME = "<%= current_user.username %>"
   </script>
   <% end %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#">
          <img src="" alt="[LOGO]"/>
        </a>
        <a class="navbar-brand" href="/#">Love Lexicon</a>

      </div>
      <div id="navContainer"></div>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <%= current_user.username %>
          <%= button_to "Sign Out", session_url, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_session_url %>
          <%= link_to "Sign Up", new_user_url %>
        <% end %>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <%= render "layouts/errors" %>

  <%= yield %>

</body>
</html>
